[tron]
tronHost = mhs.pfs
tronCmdrPort = 6093

[spsait]
updateInterval = 60
datadir = $ICS_MHS_DATA_ROOT/spsait

# Which interface/address we should _listen_ on. 'localhost' does not open security holes!
interface = ait-server
# Which port do we listen for connections from tron on? This needs to match the one in tron's config/hub.py 
port = 9990

controllers = single,expose,calib,align
startingControllers = single,expose,calib, align

specToAlign=1
cams=b1,r1

[logging]
logdir = $ICS_MHS_LOGS_ROOT/actors/spsait
baseLevel = 20
cmdLevel = 20
dispatchLevel = 30
consoleLevel = 20
ioLevel = 20

