[tron]
tronHost = 10.1.1.1
tronCmdrPort = 6093

[spsait_sm0]
updateInterval = 60
datadir = $ICS_MHS_DATA_ROOT/spsait

# Which interface/address we should _listen_ on. 'localhost' does not open security holes!
interface = ws2.pfs
# Which port do we listen for connections from tron on? This needs to match the one in tron's config/hub.py 
port = 9983

[logging]
logdir = $ICS_MHS_LOGS_ROOT/actors/spsait_sm0
baseLevel = 20
cmdLevel = 20
dispatchLevel = 30
consoleLevel = 20
ioLevel = 20

