[tron]
tronHost = tron
tronCmdrPort = 6093

[spsait]
updateInterval = 60
datadir = $ICS_MHS_DATA_ROOT/spsait

# Which interface/address we should _listen_ on. 'localhost' does not open security holes!
interface = ics-prod
# Which port do we listen for connections from tron on? This needs to match the one in tron's config/hub.py
port = 0

controllers = single,expose,calib,align,dither
startingControllers = single,expose,calib,align,dither,defocus

specToAlign=1
cams=r1

[logging]
logdir = $ICS_MHS_LOGS_ROOT/actors/spsait
baseLevel = 20
cmdLevel = 20
dispatchLevel = 30
consoleLevel = 20
ioLevel = 20

